@{
    ViewData["Title"] = "Home";
}

<div class="container1 p-3" style="background-color: rgba(255, 255, 255, 0.95); border: 4px solid black;">

<h1 class="text-center">Welcome to Sneak Easy</h1>


<div class="container2 p-3" style="border: 2px black solid;">
    <h3 class="text-center mb-3" style="font-family: 'Oswald', sans-serif;">Hello, we are Sneak Easy. <br> The #1 place you can sell some of your collection or add that pair of sneakers to it. We're here to help connect buyers and sellers and verify you are getting exactly what you want. Please explore our options below.</h3>
    <div class="button_container d-flex justify-content-around">
        <a href="/sneakers/all" class="btn btn-primary">Explore All Shoes</a>
        <a href="/sneakers/add" class="btn btn-secondary">Sell a Pair</a>
    </div>
</div>

@if(ViewBag.RandomSneakers != null)
{
    <h2 class="text-center mt-5">Featured Sneakers</h2>
    <div class="d-flex justify-content-around flex-wrap">
    @foreach(Sneaker s in ViewBag.RandomSneakers)
        {
            if(!s.CustomerOrders.Exists(a => a.SneakerId == s.SneakerId))
            {
            <a href="/sneaker/@s.SneakerId">
            <div class="card mb-5" style="width: 200px; border: none;">
                <img class="card-img-top" src="@s.PhotoURL" alt="@s.Name" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@s.Name</h5>
                    <p class="card-text">Brand: @s.Brand </p>
                    <p class="card-text">Size: @s.Size </p>
                    <p class="card-text">$@s.Price</p>
                </div>
            </div>
            </a>
            }
        }
    </div>
}
</div>
